# 분기별 업종 매출 순위

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
seoul= pd.read_csv('seoul2019-2020.csv')

In [4]:
seoul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105140 entries, 0 to 105139
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   105140 non-null  int64
 1   기준_년_코드      105140 non-null  int64
 2   기준_분기_코드     105140 non-null  int64
 3   상권_구분_코드     105140 non-null  object
 4   상권_구분_코드_명   105140 non-null  object
 5   상권_코드        105140 non-null  int64
 6   상권_코드_명      105140 non-null  object
 7   서비스_업종_코드    105140 non-null  object
 8   서비스_업종_코드_명  105140 non-null  object
 9   당월_매출_금액     105140 non-null  int64
 10  당월_매출_건수     105140 non-null  int64
 11  점포수          105140 non-null  int64
dtypes: int64(7), object(5)
memory usage: 9.6+ MB

# 분기별로 나누어 업종 매출 순위 확인

In [5]:
seoul2019_1 = seoul[(seoul['기준_년_코드']==2019) & (seoul['기준_분기_코드']==1)]
seoul2019_2 = seoul[(seoul['기준_년_코드']==2019) & (seoul['기준_분기_코드']==2)]

In [6]:
seoul2020_1 = seoul[(seoul['기준_년_코드']==2020) & (seoul['기준_분기_코드']==1)]
seoul2020_2 = seoul[(seoul['기준_년_코드']==2020) & (seoul['기준_분기_코드']==2)]

# 19년도 1분기

In [8]:
# 업종 전체매출 순위
seoul2019_1_sum = seoul2019_1.groupby('서비스_업종_코드_명')[['당월_매출_금액','당월_매출_건수','점포수']].sum()
seoul2019_1_sum = seoul2019_1_sum.sort_values(by=['당월_매출_금액'],ascending=False)
seoul2019_1_sum

                   당월_매출_금액   당월_매출_건수     점포수
서비스_업종_코드_명
한식음식점         6828573529876  221480246  118085
편의점           2802556073115  480286358   18294
슈퍼마켓          2414392089900  192580138   26732
의약품           1508468049408  108070037   11915
일반의류          1450842206211   20257066   48955
...                     ...        ...     ...
가전제품수리           7576024964     134412     436
고시원              5704091438      18983     118
완구               3571582561      50889      85
자전거 및 기타운송장비     2203353305      15418      44
부동산중개업            468495542      68635     617

[63 rows x 3 columns]

In [9]:
# 한 가게당 평균 매출 순위
seoul2019_1_sum['평균_매출_금액'] = seoul2019_1_sum['당월_매출_금액']/seoul2019_1_sum['점포수'] # 가게의 평균 매출을 보기위해 총 매출을 점포수로 나눠주었다
seoul2019_1_mean = seoul2019_1_sum.sort_values(by=['평균_매출_금액'],ascending=False)
seoul2019_1_mean

                  당월_매출_금액   당월_매출_건수    점포수      평균_매출_금액
서비스_업종_코드_명
컴퓨터및주변장치판매   1268729418028    3387848   5026  2.524332e+08
가전제품          148621233278     309048    864  1.720153e+08
편의점          2802556073115  480286358  18294  1.531954e+08
치과의원          684579211007    5195743   4956  1.381314e+08
일반의원         1113809223078   49233418   8528  1.306061e+08
...                    ...        ...    ...           ...
피부관리실          54730281100     338000   5334  1.026065e+07
세탁소            48725181674    2779713   5903  8.254308e+06
네일숍            13089393071     172547   1764  7.420291e+06
당구장            30604039564    2076956   4210  7.269368e+06
부동산중개업           468495542      68635    617  7.593121e+05

[63 rows x 4 columns]

In [10]:
#종합 - 각 매출상위 10개 업종을 리스트에 저장
seoul2019_1_list_sum = []
seoul2019_1_list_sum=seoul2019_1_sum.index.values[:10]
print('< 2019년도 1분기 전체 매출상위 업종 > \n',seoul2019_1_list_sum)

#평균 - 각 매출 상위 10개의 업종을 리스트에 저장
seoul2019_1_list_mean = []
seoul2019_1_list_mean=seoul2019_1_mean.index.values[:10]
print('\n< 2019년도 1분기 평균 매출상위 업종 > \n',seoul2019_1_list_mean)

< 2019년도 1분기 전체 매출상위 업종 >
 ['한식음식점' '편의점' '슈퍼마켓' '의약품' '일반의류' '컴퓨터및주변장치판매' '호프-간이주점' '일반의원' '커피-음료'
 '화장품']

< 2019년도 1분기 평균 매출상위 업종 >
 ['컴퓨터및주변장치판매' '가전제품' '편의점' '치과의원' '일반의원' '의약품' '가구' '수산물판매' '운동/경기용품'
 '육류판매']

# 19년도 2분기

In [11]:
# 업종 전체매출 순위
seoul2019_2_sum = seoul2019_2.groupby('서비스_업종_코드_명')[['당월_매출_금액','당월_매출_건수','점포수']].sum()
seoul2019_2_sum= seoul2019_2_sum.sort_values(by=['당월_매출_금액'],ascending=False)
seoul2019_2_sum

                   당월_매출_금액   당월_매출_건수     점포수
서비스_업종_코드_명
한식음식점         6417386807636  213977513  118269
편의점           2860664203222  512274069   18251
슈퍼마켓          2352376460528  203009801   26938
의약품           1537334048470  112317364   12077
일반의류          1520942657582   24852704   48712
...                     ...        ...     ...
가전제품수리           7218151938     117705     439
완구               5792463825      83012      87
고시원              5323368706      19013     120
자전거 및 기타운송장비     2579581309      28730      47
부동산중개업            406370478      60284     601

[63 rows x 3 columns]

In [12]:
# 한 가게당 평균 매출 순위
seoul2019_2_sum['평균_매출_금액']=seoul2019_2_sum['당월_매출_금액']/seoul2019_2_sum['점포수'] # 가게의 평균 매출을 보기위해 총 매출을 점포수로 나눠주었다
seoul2019_2_mean= seoul2019_2_sum.sort_values(by=['평균_매출_금액'],ascending=False)
seoul2019_2_mean

                  당월_매출_금액   당월_매출_건수    점포수      평균_매출_금액
서비스_업종_코드_명
컴퓨터및주변장치판매    873165370936    2466008   5029  1.736260e+08
가전제품          145026734569     322309    860  1.686357e+08
편의점          2860664203222  512274069  18251  1.567401e+08
치과의원          662894333323    5094418   4973  1.332987e+08
일반의원         1120617766096   54217491   8593  1.304105e+08
...                    ...        ...    ...           ...
세탁소            63660681483    3198161   5942  1.071368e+07
네일숍            16769258513     205473   1707  9.823819e+06
피부관리실          51470150286     330908   5596  9.197668e+06
당구장            24465627172    1678511   4191  5.837659e+06
부동산중개업           406370478      60284    601  6.761572e+05

[63 rows x 4 columns]

In [13]:
#종합 - 각 매출상위 10개 업종을 리스트에 저장
seoul2019_2_list_sum = []
seoul2019_2_list_sum=seoul2019_2_sum.index.values[:10]
print('< 2019년도 2분기 전체 매출상위 업종 > \n',seoul2019_2_list_sum)

#평균 - 각 매출 상위 10개의 업종을 리스트에 저장
seoul2019_2_list_mean = []
seoul2019_2_list_mean=seoul2019_2_mean.index.values[:10]
print('\n< 2019년도 2분기 평균 매출상위 업종 > \n',seoul2019_2_list_mean)

< 2019년도 2분기 전체 매출상위 업종 >
 ['한식음식점' '편의점' '슈퍼마켓' '의약품' '일반의류' '일반의원' '호프-간이주점' '커피-음료' '컴퓨터및주변장치판매'
 '화장품']

< 2019년도 2분기 평균 매출상위 업종 >
 ['컴퓨터및주변장치판매' '가전제품' '편의점' '치과의원' '일반의원' '의약품' '가구' '수산물판매' '슈퍼마켓'
 '운동/경기용품']

# 20년도 1분기

In [14]:
# 업종 전체매출 순위
seoul2020_1_sum = seoul2020_1.groupby('서비스_업종_코드_명')[['당월_매출_금액','당월_매출_건수','점포수']].sum()
seoul2020_1_sum= seoul2020_1_sum.sort_values(by=['당월_매출_금액'],ascending=False)
seoul2020_1_sum

                   당월_매출_금액  당월_매출_건수    점포수
서비스_업종_코드_명
한식음식점         2258473036587  72872889  38042
컴퓨터및주변장치판매    1312038998965   5134201   4361
일반의류          1165871912174  18221575  45144
의약품            987873425138  57907936   4892
일반의원           984342416435  22299187   5377
...                     ...       ...    ...
자동차미용            7984926323    144997    222
가전제품수리           6698505147    100154    265
고시원              2396704931      7408    128
부동산중개업           1929930437     65000    539
자전거 및 기타운송장비     1053323654      8235     25

[63 rows x 3 columns]

In [15]:
# 한 가게당 평균 매출 순위
seoul2020_1_sum['평균_매출_금액']=seoul2020_1_sum['당월_매출_금액']/seoul2020_1_sum['점포수'] # 가게의 평균 매출을 보기위해 총 매출을 점포수로 나눠주었다
seoul2020_1_mean= seoul2020_1_sum.sort_values(by=['평균_매출_금액'],ascending=False)
seoul2020_1_mean

                  당월_매출_금액  당월_매출_건수   점포수      평균_매출_금액
서비스_업종_코드_명
수산물판매         514662450740   9403370  1178  4.368951e+08
컴퓨터및주변장치판매   1312038998965   5134201  4361  3.008574e+08
의료기기          193131946583    480109   721  2.678668e+08
육류판매          712878967485  15356543  2912  2.448073e+08
가전제품          282134266146    760298  1242  2.271612e+08
...                    ...       ...   ...           ...
피부관리실          46443139379    276313  3204  1.449536e+07
당구장            25145598320   1491155  2170  1.158783e+07
세탁소            20023894147   1160261  1938  1.033225e+07
네일숍            12252776821    167770  1207  1.015143e+07
부동산중개업          1929930437     65000   539  3.580576e+06

[63 rows x 4 columns]

In [16]:
#종합 - 각 매출상위 10개 업종을 리스트에 저장
seoul2020_1_list_sum = []
seoul2020_1_list_sum=seoul2020_1_sum.index.values[:10]
print('< 2020년도 1분기 전체 매출상위 업종 > \n',seoul2020_1_list_sum)

#평균 - 각 매출 상위 10개의 업종을 리스트에 저장
seoul2020_1_list_mean = []
seoul2020_1_list_mean=seoul2020_1_mean.index.values[:10]
print('\n< 2020년도 1분기 평균 매출상위 업종 > \n',seoul2020_1_list_mean)

< 2020년도 1분기 전체 매출상위 업종 >
 ['한식음식점' '컴퓨터및주변장치판매' '일반의류' '의약품' '일반의원' '편의점' '슈퍼마켓' '육류판매' '반찬가게' '화장품']

< 2020년도 1분기 평균 매출상위 업종 >
 ['수산물판매' '컴퓨터및주변장치판매' '의료기기' '육류판매' '가전제품' '청과상' '의약품' '일반의원' '편의점' '반찬가게']

# 20년도 2분기

In [17]:
# 업종 전체매출 순위
seoul2020_2_sum = seoul2020_2.groupby('서비스_업종_코드_명')[['당월_매출_금액','당월_매출_건수','점포수']].sum()
seoul2020_2_sum= seoul2020_2_sum.sort_values(by=['당월_매출_금액'],ascending=False)
seoul2020_2_sum

                   당월_매출_금액   당월_매출_건수    점포수
서비스_업종_코드_명
한식음식점         2314446405583   74924196  38051
일반의류          1499932247119   26254773  44268
컴퓨터및주변장치판매    1306089459602    6356947   4273
의약품           1108784489285   65126363   4817
편의점           1006856046214  171210826   5513
...                     ...        ...    ...
가전제품수리           9023052025     125328    277
자동차미용            8704193422     155613    224
자전거 및 기타운송장비     3261275413      21271     25
고시원              2827972518       7892    130
부동산중개업           1619670512      52505    535

[63 rows x 3 columns]

In [18]:
# 한 가게당 평균 매출 순위
seoul2020_2_sum['평균_매출_금액']=seoul2020_2_sum['당월_매출_금액']/seoul2020_2_sum['점포수'] # 가게의 평균 매출을 보기위해 총 매출을 점포수로 나눠주었다
seoul2020_2_mean= seoul2020_2_sum.sort_values(by=['평균_매출_금액'],ascending=False)
seoul2020_2_mean

                  당월_매출_금액  당월_매출_건수   점포수      평균_매출_금액
서비스_업종_코드_명
수산물판매         490112148758  10315881  1155  4.243395e+08
컴퓨터및주변장치판매   1306089459602   6356947  4273  3.056610e+08
의료기기          208780204267    482037   730  2.860003e+08
가전제품          320400063405    901297  1240  2.583871e+08
청과상           578652733868  20887577  2283  2.534616e+08
...                    ...       ...   ...           ...
노래방            73496306764   1880741  4885  1.504530e+07
세탁소            27483362502   1411611  1944  1.413753e+07
네일숍            14500392778    189284  1174  1.235127e+07
당구장            23913526175   1449047  2148  1.113293e+07
부동산중개업          1619670512     52505   535  3.027422e+06

[63 rows x 4 columns]

In [19]:
#종합 - 각 매출상위 10개 업종을 리스트에 저장
seoul2020_2_list_sum = []
seoul2020_2_list_sum=seoul2020_2_sum.index.values[:10]
print('< 2020년도 2분기 전체 매출상위 업종 > \n',seoul2020_2_list_sum)

#평균 - 각 매출 상위 10개의 업종을 리스트에 저장
seoul2020_2_list_mean = []
seoul2020_2_list_mean=seoul2020_2_mean.index.values[:10]
print('\n< 2020년도 2분기 평균 매출상위 업종 > \n',seoul2020_2_list_mean)

< 2020년도 2분기 전체 매출상위 업종 >
 ['한식음식점' '일반의류' '컴퓨터및주변장치판매' '의약품' '편의점' '일반의원' '슈퍼마켓' '육류판매' '반찬가게' '청과상']

< 2020년도 2분기 평균 매출상위 업종 >
 ['수산물판매' '컴퓨터및주변장치판매' '의료기기' '가전제품' '청과상' '의약품' '육류판매' '가구' '미곡판매' '편의점']

2019년 1,2분기 2020년 1,2분기 모두 매출이 상위권인 업종 추출

In [24]:
seoul_list_quarter_sum = list(set(seoul2019_1_list_sum) & set(seoul2019_2_list_sum) & set(seoul2020_1_list_sum) & set(seoul2020_2_list_sum))#교집합 추출
print('< 2019년 2020년도 1,2분기 전체 매출상위 업종 교집합> \n',seoul_list_quarter_sum)
seoul_list_quarter_mean = list(set(seoul2019_1_list_mean) & set(seoul2019_2_list_mean)& set(seoul2020_1_list_mean) & set(seoul2020_2_list_mean))#교집합 추출
print('\n< 2019년 2020년도 1,2분기 평균 매출상위 업종 교집합> \n',seoul_list_quarter_mean)

< 2019년 2020년도 1,2분기 전체 매출상위 업종 교집합>
 ['일반의원', '한식음식점', '컴퓨터및주변장치판매', '의약품', '일반의류', '슈퍼마켓', '편의점']

< 2019년 2020년도 1,2분기 평균 매출상위 업종 교집합>
 ['가전제품', '컴퓨터및주변장치판매', '의약품', '편의점', '수산물판매']

# 19년도와 20년도 업종 매출비교

In [21]:
seoul2019= seoul[(seoul['기준_년_코드']==2019)]
seoul2020= seoul[seoul['기준_년_코드']==2020]

In [22]:
# 업종 전체매출 순위
seoul2019_sum = seoul2019.groupby('서비스_업종_코드_명')[['당월_매출_금액','당월_매출_건수','점포수']].sum()
seoul2019_sum= seoul2019_sum.sort_values(by=['당월_매출_금액'],ascending=False)
seoul2019_sum

                    당월_매출_금액   당월_매출_건수     점포수
서비스_업종_코드_명
한식음식점         13245960337512  435457759  236354
편의점            5663220276337  992560427   36545
슈퍼마켓           4766768550428  395589939   53670
의약품            3045802097878  220387401   23992
일반의류           2971784863793   45109770   97667
...                      ...        ...     ...
가전제품수리           14794176902     252117     875
고시원              11027460144      37996     238
완구                9364046386     133901     172
자전거 및 기타운송장비      4782934614      44148      91
부동산중개업             874866020     128919    1218

[63 rows x 3 columns]

In [23]:
# 업종 전체매출 순위
seoul2020_sum = seoul2020.groupby('서비스_업종_코드_명')[['당월_매출_금액','당월_매출_건수','점포수']].sum()
seoul2020_sum= seoul2020_sum.sort_values(by=['당월_매출_금액'],ascending=False)
seoul2020_sum

                   당월_매출_금액   당월_매출_건수    점포수
서비스_업종_코드_명
한식음식점         4572919442170  147797085  76093
일반의류          2665804159293   44476348  89412
컴퓨터및주변장치판매    2618128458567   11491148   8634
의약품           2096657914423  123034299   9709
편의점           1970232961845  333255775  11033
...                     ...        ...    ...
자동차미용           16689119745     300610    446
가전제품수리          15721557172     225482    542
고시원              5224677449      15300    258
자전거 및 기타운송장비     4314599067      29506     50
부동산중개업           3549600949     117505   1074

[63 rows x 3 columns]

In [60]:
# 한 가게당 평균 매출 순위
seoul2019_sum['평균_매출_금액']=seoul2019_sum['당월_매출_금액']/seoul2019_sum['점포수'] # 가게의 평균 매출을 보기위해 총 매출을 점포수로 나눠주었다
seoul2019_mean= seoul2019_sum.sort_values(by=['평균_매출_금액'],ascending=False)
seoul2019_mean

                  당월_매출_금액   당월_매출_건수    점포수      평균_매출_금액
서비스_업종_코드_명
컴퓨터및주변장치판매   2141894788964    5853856  10055  2.130179e+08
가전제품          293647967847     631357   1724  1.703294e+08
편의점          5663220276337  992560427  36545  1.549657e+08
치과의원         1347473544330   10290161   9929  1.357109e+08
일반의원         2234426989174  103450909  17121  1.305080e+08
...                    ...        ...    ...           ...
피부관리실         106200431386     668908  10930  9.716416e+06
세탁소           112385863157    5977874  11845  9.488042e+06
네일숍            29858651584     378020   3471  8.602320e+06
당구장            55069666736    3755467   8401  6.555132e+06
부동산중개업           874866020     128919   1218  7.182808e+05

[63 rows x 4 columns]

In [61]:
# 한 가게당 평균 매출 순위
seoul2020_sum['평균_매출_금액']=seoul2020_sum['당월_매출_금액']/seoul2020_sum['점포수'] # 가게의 평균 매출을 보기위해 총 매출을 점포수로 나눠주었다
seoul2020_mean= seoul2020_sum.sort_values(by=['평균_매출_금액'],ascending=False)
seoul2020_mean

                  당월_매출_금액  당월_매출_건수   점포수      평균_매출_금액
서비스_업종_코드_명
수산물판매        1004774599498  19719251  2333  4.306792e+08
컴퓨터및주변장치판매   2618128458567  11491148  8634  3.032347e+08
의료기기          401912150850    962146  1451  2.769898e+08
가전제품          602534329551   1661595  2482  2.427616e+08
청과상          1082263907366  35668099  4564  2.371306e+08
...                    ...       ...   ...           ...
피부관리실          97155072196    595766  6506  1.493315e+07
세탁소            47507256649   2571872  3882  1.223783e+07
당구장            49059124495   2940202  4318  1.136154e+07
네일숍            26753169599    357054  2381  1.123611e+07
부동산중개업          3549600949    117505  1074  3.305029e+06

[63 rows x 4 columns]

In [80]:
#종합 2019 - 각 매출상위 10개 업종을 리스트에 저장
seoul2019_list_sum = []
seoul2019_list_sum=seoul2019_1_sum.index.values[:10]
print('< 2019년도 전체 매출상위 업종 > \n',seoul2019_list_sum)

#종합 2020 - 각 매출상위 10개 업종을 리스트에 저장
seoul2020_list_sum = []
seoul2020_list_sum=seoul2020_sum.index.values[:10]
print('\n< 2020년도 전체 매출상위 업종 > \n',seoul2020_list_sum)

#평균 - 각 매출 상위 10개의 업종을 리스트에 저장
seoul2019_list_mean = []
seoul2019_list_mean=seoul2019_mean.index.values[:10]
print('\n< 2019년도 평균 매출상위 업종 > \n',seoul2019_list_mean)

#평균 - 각 매출 상위 10개의 업종을 리스트에 저장
seoul2020_list_mean = []
seoul2020_list_mean=seoul2020_mean.index.values[:10]
print('\n< 2020년도 평균 매출상위 업종 > \n',seoul2020_list_mean)

< 2019년도 전체 매출상위 업종 >
 ['한식음식점' '편의점' '슈퍼마켓' '의약품' '일반의류' '컴퓨터및주변장치판매' '호프-간이주점' '일반의원' '커피-음료'
 '화장품']

< 2020년도 전체 매출상위 업종 >
 ['한식음식점' '일반의류' '컴퓨터및주변장치판매' '의약품' '편의점' '일반의원' '슈퍼마켓' '육류판매' '반찬가게' '청과상']

< 2019년도 평균 매출상위 업종 >
 ['컴퓨터및주변장치판매' '가전제품' '편의점' '치과의원' '일반의원' '의약품' '가구' '수산물판매' '운동/경기용품'
 '슈퍼마켓']

< 2020년도 평균 매출상위 업종 >
 ['수산물판매' '컴퓨터및주변장치판매' '의료기기' '가전제품' '청과상' '육류판매' '의약품' '일반의원' '편의점' '가구']

2019년과 2020년의 전체 매출과 평균매출의 상위 업종 교집합

In [78]:
seoul_list_sum = list(set(seoul2019_list_sum) &  set(seoul2020_list_sum))#교집합 추출
print('< 2019년 2020년도 전체 매출상위 업종 > \n',seoul_list_sum)
seoul_list_mean = list(set(seoul2019_list_mean) & set(seoul2020_list_mean))#교집합 추출
print('\n< 2019년 2020년도 평균 매출상위 업종 > \n',seoul_list_mean)

< 2019년 2020년도 전체 매출상위 업종 >
 ['편의점', '일반의류', '슈퍼마켓', '한식음식점', '의약품', '일반의원', '컴퓨터및주변장치판매']

< 2019년 2020년도 평균 매출상위 업종 >
 ['수산물판매', '편의점', '가구', '의약품', '일반의원', '컴퓨터및주변장치판매', '가전제품']

2019년 1,2분기 2020년 1,2분기 모두 매출이 상위권인 업종

In [90]:
seoul_list_quarter_sum = list(set(seoul2019_1_list_sum) & set(seoul2019_2_list_sum)& set(seoul2020_1_list_sum) & set(seoul2020_2_list_sum))#교집합 추출
print('< 2019년 2020년도 1,2분기 전체 매출상위 업종 교집합> \n',seoul_list_quarter_sum)
seoul_list_quarter_mean = list(set(seoul2019_1_list_mean) & set(seoul2019_2_list_mean)& set(seoul2020_1_list_mean) & set(seoul2020_2_list_mean))#교집합 추출
print('\n< 2019년 2020년도 1,2분기 평균 매출상위 업종 교집합> \n',seoul_list_quarter_mean)

< 2019년 2020년도 1,2분기 전체 매출상위 업종 교집합>
 ['편의점', '일반의류', '슈퍼마켓', '한식음식점', '의약품', '일반의원', '컴퓨터및주변장치판매']

< 2019년 2020년도 1,2분기 평균 매출상위 업종 교집합>
 ['편의점', '수산물판매', '의약품', '컴퓨터및주변장치판매', '가전제품']