<a href="https://colab.research.google.com/github/dmswl0707/CoronaCoprosperityCard_DataScience/blob/main/%EC%83%81%EA%B6%8C%EB%B3%84_%EB%A7%A4%EC%B6%9C%EC%88%9C%EC%9C%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
s20= pd.read_csv('seoul2020.csv',encoding='euc-kr') #euc-kr
s19= pd.read_csv('seoul2019.csv',encoding='euc-kr')

In [ ]:
seoul2019= s19.sort_values(by=['상권_코드'])
seoul2020= s20.sort_values(by=['상권_코드'])

In [ ]:
seoul2019_1=seoul2019[seoul2019['기준_분기_코드']==1]
seoul2019_2=seoul2019[seoul2019['기준_분기_코드']==2]
seoul2020_1=seoul2020[seoul2020['기준_분기_코드']==1]
seoul2020_2=seoul2020[seoul2020['기준_분기_코드']==2]

In [ ]:
seoul2019_1=seoul2019_1[['기준_년_코드','기준_분기_코드','상권_구분_코드','상권_구분_코드_명','상권_코드','상권_코드_명','서비스_업종_코드','서비스_업종_코드_명','당월_매출_금액','당월_매출_건수','점포수']]
seoul2019_2=seoul2019_2[['기준_년_코드','기준_분기_코드','상권_구분_코드','상권_구분_코드_명','상권_코드','상권_코드_명','서비스_업종_코드','서비스_업종_코드_명','당월_매출_금액','당월_매출_건수','점포수']]
seoul2020_1=seoul2020_1[['기준_년_코드','기준_분기_코드','상권_구분_코드','상권_구분_코드_명','상권_코드','상권_코드_명','서비스_업종_코드','서비스_업종_코드_명','당월_매출_금액','당월_매출_건수','점포수']]
seoul2020_2=seoul2020_2[['기준_년_코드','기준_분기_코드','상권_구분_코드','상권_구분_코드_명','상권_코드','상권_코드_명','서비스_업종_코드','서비스_업종_코드_명','당월_매출_금액','당월_매출_건수','점포수']]

## 1-1. 2019년도 1분기의 상위 매출 상권 출력

### 점포수가 0인 행 제거

In [ ]:
seoul2019_1=seoul2019_1[seoul2019_1['점포수']!=0]
seoul2019_1

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,점포수
31901,2019,1,A,골목상권,1000001,계동길,CS300022,화장품,266653743,8797,15
15167,2019,1,A,골목상권,1000001,계동길,CS200008,한의원,274558800,3498,6
46513,2019,1,A,골목상권,1000001,계동길,CS200007,치과의원,714840716,5177,3
2749,2019,1,A,골목상권,1000001,계동길,CS300014,신발,313147105,4046,7
33460,2019,1,A,골목상권,1000001,계동길,CS100002,중식음식점,244087512,8684,4
...,...,...,...,...,...,...,...,...,...,...,...
35989,2019,1,A,골목상권,1001010,풍성로37가길,CS100007,치킨전문점,1314850197,49753,21
42846,2019,1,A,골목상권,1001010,풍성로37가길,CS300033,철물점,708976654,17410,21
29233,2019,1,A,골목상권,1001010,풍성로37가길,CS300027,섬유제품,19589737,745,8
35320,2019,1,A,골목상권,1001010,풍성로37가길,CS300011,일반의류,39342784,827,31
24217,2019,1,A,골목상권,1001010,풍성로37가길,CS300022,화장품,237829412,9000,18

### 점포수 별 평균 매출금액 계산후 내림차순 정렬

In [ ]:
seoul2019_1['평균매출금액']=seoul2019_1['당월_매출_금액']/seoul2019_1['점포수']

seoul2019_1=seoul2019_1.sort_values(by=['평균매출금액'],ascending=False)
seoul2019_1=seoul2019_1[['상권_구분_코드_명','상권_코드_명','서비스_업종_코드_명','당월_매출_금액','점포수','평균매출금액']]
seoul2019_1

      상권_구분_코드_명   상권_코드_명 서비스_업종_코드_명     당월_매출_금액  점포수        평균매출금액
21772       골목상권   삼선교로10길        가전제품   5495716223    1  5.495716e+09
27160       골목상권   디지털로74길        가전제품   6079496075    2  3.039748e+09
43373       골목상권   구로동로42길          서적  19395000000    8  2.424375e+09
23274       골목상권  구로중앙로34길          서적  19674657858    9  2.186073e+09
42854       골목상권   오패산로30길        미곡판매   6361409108    3  2.120470e+09
...          ...       ...         ...          ...  ...           ...
22546       골목상권    강서로18길      부동산중개업       213991   90  2.377678e+03
28286       골목상권   곰달래로25길      부동산중개업       213991  127  1.684969e+03
34903       골목상권  양재대로133길      부동산중개업        98755   61  1.618934e+03
23176       골목상권    상암로51길      부동산중개업        98755   63  1.567540e+03
16525       골목상권    천중로51길      부동산중개업        98755   93  1.061882e+03

[49038 rows x 6 columns]

## 1-2. 2019년도 2분기의 상위 매출 상권 출력

In [ ]:
seoul2019_2=seoul2019_2[seoul2019_2['점포수']!=0]

seoul2019_2['평균매출금액']=seoul2019_2['당월_매출_금액']/seoul2019_2['점포수']
seoul2019_2=seoul2019_2.sort_values(by=['평균매출금액'],ascending=False)
seoul2019_2=seoul2019_2[['상권_구분_코드_명','상권_코드_명','서비스_업종_코드_명','당월_매출_금액','점포수','평균매출금액']]
seoul2019_2

      상권_구분_코드_명    상권_코드_명 서비스_업종_코드_명     당월_매출_금액  점포수        평균매출금액
64585       골목상권    증가로23나길        미곡판매   3619702265    1  3.619702e+09
82600       골목상권    디지털로74길        가전제품   6765000000    2  3.382500e+09
96491       골목상권    구로동로42길          서적  19395000000    7  2.770714e+09
73635       골목상권    삼선교로10길        가전제품   5423237785    2  2.711619e+09
76278       골목상권  목동중앙북로16길          완구   2569999568    1  2.570000e+09
...          ...        ...         ...          ...  ...           ...
60016       골목상권     천중로51길      부동산중개업       188731   91  2.073967e+03
67649       골목상권     당산로37길          가구         6590    4  1.647500e+03
58350       골목상권     범안로17길        가전제품         1855    5  3.710000e+02
63973       골목상권     범안로11길        가전제품         1855   10  1.855000e+02
59669       골목상권      가산로3길        가전제품         1855   13  1.426923e+02

[48685 rows x 6 columns]

## 2-1. 2020년도 1분기의 상위 매출 상권 출력

In [ ]:
seoul2020_1=seoul2020_1[seoul2020_1['점포수']!=0]

seoul2020_1['평균매출금액']=seoul2020_1['당월_매출_금액']/seoul2020_1['점포수']
seoul2020_1=seoul2020_1.sort_values(by=['평균매출금액'],ascending=False)
seoul2020_1=seoul2020_1[['상권_구분_코드_명','상권_코드_명','서비스_업종_코드_명','당월_매출_금액','점포수','평균매출금액']]
seoul2020_1

      상권_구분_코드_명     상권_코드_명 서비스_업종_코드_명     당월_매출_금액  점포수        평균매출금액
44406       발달상권         매봉역        의료기기  13722003975    1  1.372200e+10
54750       골목상권     공항대로42길          가구  10243337687    1  1.024334e+10
43611       발달상권        가락시장        미곡판매  13783295339    2  6.891648e+09
57039       골목상권      동교로25길        의료기기   5943622643    1  5.943623e+09
65674       골목상권    녹사평대로26길        의료기기  10364075966    2  5.182038e+09
...          ...         ...         ...          ...  ...           ...
63004       골목상권     답십리로69길        인테리어         9425    7  1.346429e+03
60073       골목상권     삼각산로28길         화장품         1729    2  8.645000e+02
45598       골목상권     양재대로95길        반찬가게          465    2  2.325000e+02
46343       골목상권      오금로36길      스포츠 강습           71    1  7.100000e+01
37925       발달상권  등나무근린공원 주변          신발          909   19  4.784211e+01

[33042 rows x 6 columns]

## 2-2. 2020년도 2분기의 상위 매출 상권 상권 출력

In [ ]:
seoul2020_2=seoul2020_2[seoul2020_2['점포수']!=0]

seoul2020_2['평균매출금액']=seoul2020_2['당월_매출_금액']/seoul2020_2['점포수']
seoul2020_2=seoul2020_2.sort_values(by=['평균매출금액'],ascending=False)
seoul2020_2=seoul2020_2[['상권_구분_코드_명','상권_코드_명','서비스_업종_코드_명','당월_매출_금액','점포수','평균매출금액']]
seoul2020_2

      상권_구분_코드_명  상권_코드_명 서비스_업종_코드_명     당월_매출_금액  점포수        평균매출금액
21468       골목상권  공항대로42길          가구   9780424740    1  9.780425e+09
11125       발달상권      매봉역        의료기기  17710066863    2  8.855033e+09
10330       발달상권     가락시장        미곡판매  14274817700    2  7.137409e+09
23760       골목상권   동교로25길        의료기기   6472676683    1  6.472677e+09
2996        전통시장   방천골목시장        미곡판매   6114230054    1  6.114230e+09
...          ...      ...         ...          ...  ...           ...
15901       골목상권   고무래로8길      시계및귀금속         1949    1  1.949000e+03
29115       골목상권  천호대로97길        일반의류        13921   13  1.070846e+03
2118        전통시장    목3동시장        인테리어         3076    3  1.025333e+03
32656       골목상권   동호로20길      가전제품수리          774    1  7.740000e+02
5605        발달상권     신설동역      전자상거래업         5264   22  2.392727e+02

[33056 rows x 6 columns]