 매출감소율이 큰 업종이 많이 분포하는 지역에 혜택 부여 (점포수 기준은 2020년 2분기)

In [35]:
import pandas as pd
import numpy as np

seoul = pd.read_csv('seoul2019_2020.csv')
seoul2020=seoul[(seoul['기준_년_코드']==2020) & (seoul['기준_분기_코드']==2)]

In [36]:
seoul2020

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,점포수
61320,2020,2,A,골목상권,1000001,계동길,CS100003,일식음식점,46343892,1296,3
61321,2020,2,A,골목상권,1000001,계동길,CS100004,양식음식점,188904583,4529,3
61322,2020,2,A,골목상권,1000001,계동길,CS100005,제과점,260380027,27534,4
61323,2020,2,A,골목상권,1000001,계동길,CS100006,패스트푸드점,36586117,2526,2
61324,2020,2,A,골목상권,1000001,계동길,CS100008,분식전문점,219124495,9296,7
...,...,...,...,...,...,...,...,...,...,...,...
81755,2020,2,A,골목상권,1001010,풍성로37가길,CS300002,편의점,346967059,42545,2
81756,2020,2,A,골목상권,1001010,풍성로37가길,CS200002,외국어학원,47585700,118,1
81757,2020,2,A,골목상권,1001010,풍성로37가길,CS200028,미용실,19710987,939,10
81758,2020,2,A,골목상권,1001010,풍성로37가길,CS300043,전자상거래업,1168582,48,5
81759,2020,2,A,골목상권,1001010,풍성로37가길,CS300010,반찬가게,348005879,20140,5

In [39]:
seoul2020 = seoul2020[['상권_코드_명','서비스_업종_코드_명','점포수']]
seoul2020

       상권_코드_명 서비스_업종_코드_명  점포수
61320      계동길       일식음식점    3
61321      계동길       양식음식점    3
61322      계동길         제과점    4
61323      계동길      패스트푸드점    2
61324      계동길       분식전문점    7
...        ...         ...  ...
81755  풍성로37가길         편의점    2
81756  풍성로37가길       외국어학원    1
81757  풍성로37가길         미용실   10
81758  풍성로37가길      전자상거래업    5
81759  풍성로37가길        반찬가게    5

[20440 rows x 3 columns]

In [45]:
seoul2020.iloc[0][2]

3

In [46]:
group = seoul2020[seoul2020['서비스_업종_코드_명']=='컴퓨터및주변장치판매']
group['점포수'].max()

49

In [47]:
group[group['점포수']==group['점포수'].max()]

       상권_코드_명 서비스_업종_코드_명  점포수
62586  한강대로43길  컴퓨터및주변장치판매   49

In [48]:
service_name_list = ['컴퓨터및주변장치판매','화장품','커피-음료','패스트푸드점']
new_list=[]


for i in range(0,len(service_name_list)):
    group = seoul2020[seoul2020['서비스_업종_코드_명']==service_name_list[i]]
    max_g = group[group['점포수']==group['점포수'].max()]
    new_list.append(max_g)

new_list

[       상권_코드_명 서비스_업종_코드_명  점포수
 62586  한강대로43길  컴퓨터및주변장치판매   49,
         상권_코드_명 서비스_업종_코드_명  점포수
 64398  천호대로109길         화장품  106,
       상권_코드_명 서비스_업종_코드_명  점포수
 62472  청파로47길       커피-음료   49,
       상권_코드_명 서비스_업종_코드_명  점포수
 77736  호암로24길      패스트푸드점   14]

In [49]:
pd.concat([new_list[0],new_list[1],new_list[2],new_list[3]])

        상권_코드_명 서비스_업종_코드_명  점포수
62586   한강대로43길  컴퓨터및주변장치판매   49
64398  천호대로109길         화장품  106
62472    청파로47길       커피-음료   49
77736    호암로24길      패스트푸드점   14