In [2]:
import pandas as pd
import numpy as np

seoul = pd.read_csv('new_seoul2019-2020.csv')
seoul2020=seoul[seoul['기준_년_코드']==2020]

In [3]:
seoul2020

,Unnamed: 0,Unnamed: 0.1,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,점포수
40880,40932,66509,2020,1,A,골목상권,1000001,계동길,CS100002,중식음식점,25767161,1413,1
40881,40933,66508,2020,1,A,골목상권,1000001,계동길,CS100003,일식음식점,55484866,1272,3
40882,40934,66507,2020,1,A,골목상권,1000001,계동길,CS100004,양식음식점,156728306,3589,3
40883,40935,66506,2020,1,A,골목상권,1000001,계동길,CS100005,제과점,257814129,27092,4
40884,40936,66505,2020,1,A,골목상권,1000001,계동길,CS100006,패스트푸드점,35752631,2326,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
81755,93471,11891,2020,2,A,골목상권,1001010,풍성로37가길,CS300002,편의점,346967059,42545,2
81756,93472,11893,2020,2,A,골목상권,1001010,풍성로37가길,CS200002,외국어학원,47585700,118,1
81757,93473,11892,2020,2,A,골목상권,1001010,풍성로37가길,CS200028,미용실,19710987,939,10
81758,93474,11885,2020,2,A,골목상권,1001010,풍성로37가길,CS300043,전자상거래업,1168582,48,5
81759,93475,11889,2020,2,A,골목상권,1001010,풍성로37가길,CS300010,반찬가게,348005879,20140,5

In [45]:
seoul2020 = seoul2020[['상권_코드_명','서비스_업종_코드_명','점포수']]
seoul2020

       상권_코드_명 서비스_업종_코드_명  점포수
40880      계동길       중식음식점    1
40881      계동길       일식음식점    3
40882      계동길       양식음식점    3
40883      계동길         제과점    4
40884      계동길      패스트푸드점    2
...        ...         ...  ...
81755  풍성로37가길         편의점    2
81756  풍성로37가길       외국어학원    1
81757  풍성로37가길         미용실   10
81758  풍성로37가길      전자상거래업    5
81759  풍성로37가길        반찬가게    5

[40880 rows x 3 columns]

In [52]:
seoul2020.iloc[0][2]

1

In [89]:
group = seoul2020[seoul2020['서비스_업종_코드_명']=='컴퓨터및주변장치판매']
group['점포수'].max()

55

In [90]:
group[group['점포수']==group['점포수'].max()]

       상권_코드_명 서비스_업종_코드_명  점포수
42152  한강대로43길  컴퓨터및주변장치판매   55

In [86]:
service_name_list = ['컴퓨터및주변장치판매','화장품','커피-음료','일반의류']
new_list=[]


for i in range(0,len(service_name_list)):
    group = seoul2020[seoul2020['서비스_업종_코드_명']==service_name_list[i]]
    max_g = group[group['점포수']==group['점포수'].max()]
    new_list.append(max_g)

new_list

[       상권_코드_명 서비스_업종_코드_명  점포수
 42152  한강대로43길  컴퓨터및주변장치판매   55,
         상권_코드_명 서비스_업종_코드_명  점포수
 43962  천호대로109길         화장품  109,
       상권_코드_명 서비스_업종_코드_명  점포수
 62472  청파로47길       커피-음료   49,
       상권_코드_명 서비스_업종_코드_명  점포수
 53795   중앙로1길        일반의류   67
 74230   중앙로1길        일반의류   67]

In [97]:
pd.concat([new_list[0],new_list[1],new_list[2],new_list[3]])

        상권_코드_명 서비스_업종_코드_명  점포수
42152   한강대로43길  컴퓨터및주변장치판매   55
43962  천호대로109길         화장품  109
62472    청파로47길       커피-음료   49
53795     중앙로1길        일반의류   67
74230     중앙로1길        일반의류   67